body {
	font-family: 'popins', sans-serif;
}
.navlinks {
	height: 10vh;
	list-style: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.card {
	border-radius: 10px !important;
}
.image {
	object-fit: cover;
	height: 350px;
	width: 300px !important;
	object-position: top center;
}
.fav-movies {
	margin: 20px;
	display: flex;
	gap: 25px;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
/* .movie {
	width: 200px;
} */
.otherContainer {
	text-align: left;
}
.heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.rating {
	font-size: large;
	font-weight: 500;
}
.myForm {
	margin: 25px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.MuiFormControl-root {
	margin-bottom: 20px !important;
}
.MuiFormControl-root fieldset {
	width: 250px;
}
#outlined-basic {
	width: 250px;
}
#description {
	margin: 20px;
}
.like-dislike {
	margin: 10px 10px 20px 10px;
}
.counter-container {
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
}
/*  .myForm label {
	margin: 20px;
} 
.myForm input[type='text'],
.myForm input[type='link'] {
	margin: 15px 20px 15px 20px;
} */

.buttons {
	display: flex;
	justify-content: space-around;
}
