:root {
	--primary: #f3c318;
}

body,
div,
a,
ul,
li,
p {
	font-family: 'popins', sans-serif;
}

.navlinks {
	padding: 0px;
	height: 10vh;
	list-style: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
h1 {
	text-align: center;
}
.card {
	border: 1px solid;
	border-radius: 10px !important;
}
.image {
	object-fit: cover;
	height: 450px;
	width: 300px !important;
	object-position: top center;
}
.fav-movies {
	margin: 0px 20px;
	display: flex;
	gap: 25px;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.movie {
	margin-top: 20px;
	margin-bottom: 20px;
}
.otherContainer {
	text-align: left;
}
.heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.rating {
	font-size: large;
	font-weight: 500;
}
.myForm {
	margin: 0px 25px;
	display: flex;
	flex-direction: column;
}

#outlined-basic {
	text-align: center;
}
#outlined-basic-multi {
	text-align: center;
	padding-top: 15px;
}

.add-cancel,
.buttons {
	margin: 25px;
	display: flex;
	gap: 20px;
	justify-content: space-around;
}
.buttons > button {
	border: 1px solid;
	border-radius: 25px;
}
#description {
	margin: 20px;
}
.like-dislike {
	margin: 10px 10px 20px 10px;
}
.counter-container {
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
}
.trailer {
	margin: 25px;
}
.heading-summary {
	max-width: 50rem;
	padding: 20px;
}
.nav-button {
	margin: 20px;
}
.li-navbar {
	margin-right: 20px;
}
.li-navbar span,
.li-navbar a {
	color: white !important;
	text-decoration: none;
}
.li-navbar-mode {
	margin-left: auto;
}

@media screen and (max-width: 480px) {
	.navlinks {
		flex-direction: column;
		height: 25vh;
	}
	.li-navbar {
		margin-right: 0px;
	}
	.li-navbar-mode {
		margin-left: 0;
	}
}
